<form class="offer-form" [formGroup]="offerForm" (submit)="offerSubmit()">
  <h3>Post new Offer</h3>
  <div class="form-group">
    <label for="title">Title*</label>
    <input id="title" formControlName="title" placeholder="Title"/>
  </div>
  <div class="form-group">
    <label for="pictureUrl">Picture URL*</label>
    <input id="pictureUrl" formControlName="pictureUrl" placeholder="iphone.jpg"/>
  </div>
  <div class="form-group">
    <label for="description">Description*</label>
    <textarea id="description" formControlName="description" placeholder="Description" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="location">Location*</label>
    <input id="location" formControlName="location" placeholder="Country, city, neighborhood, the office, my desk, etc..."/>
  </div>
  <div class="form-group">
    <label for="category">Category*</label>
    <select id="category" formControlName="categoryId">
      <option [value]="item.id" *ngFor="let item of categories">{{item.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn primary-btn offer-submit-button">Create</button>
</form>
